@font-face {
    font-family: 'IranSansX';
    src:
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Thin.woff2') format('woff2'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Thin.woff') format('woff'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Thin.ttf') format('truetype'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Thin.otf') format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'IranSansX';
    src:
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-UltraLight.woff2') format('woff2'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-UltraLight.woff') format('woff'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-UltraLight.ttf') format('truetype'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-UltraLight.otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'IranSansX';
    src:
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Light.woff2') format('woff2'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Light.woff') format('woff'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Light.ttf') format('truetype'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'IranSansX';
    src:
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Regular.woff2') format('woff2'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Regular.woff') format('woff'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Regular.ttf') format('truetype'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'IranSansX';
    src:
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Medium.woff2') format('woff2'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Medium.woff') format('woff'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Medium.ttf') format('truetype'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'IranSansX';
    src:
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-DemiBold.woff2') format('woff2'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-DemiBold.woff') format('woff'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-DemiBold.ttf') format('truetype'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-DemiBold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'IranSansX';
    src:
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Bold.woff2') format('woff2'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Bold.woff') format('woff'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Bold.ttf') format('truetype'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'IranSansX';
    src:
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-ExtraBold.woff2') format('woff2'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-ExtraBold.woff') format('woff'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-ExtraBold.ttf') format('truetype'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-ExtraBold.otf') format('opentype');
    font-weight: 800;
}

@font-face {
    font-family: 'IranSansX';
    src:
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Black.woff2') format('woff2'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Black.woff') format('woff'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Black.ttf') format('truetype'),
            local('IranSansX'),
            url('../../assets/fonts/IranSansX/IRANSansX-Black.otf') format('opentype');
    font-weight: 900;
}

.root {
    font-family: IranSansX;
}

.Calendar__monthSelectorAnimationWrapper, .Calendar__yearSelectorAnimationWrapper {
    bottom: 5%;
}

.Calendar__yearText, .Calendar__monthText {
    color: #000;
}

.Calendar__yearSelectorText, .Calendar__monthSelectorItemText {
    color: #000;
}

.calendar-dark .DatePicker__calendarArrow {
    border-color: #ffffff;
}

.calendar-dark .Calendar__weekDays {
    margin-bottom: 0;
}

.calendar-dark .Calendar {
    --cl-color-black: #ffff;
    --cl-color-disabled: #5f6367;
    --cl-color-error: #ff0058;
    background: #1f1f1f;
}

.calendar-dark .Calendar__monthArrowWrapper:focus {
    outline: 1px dashed rgba(255, 255, 255, 0.4);
}

.calendar-dark .Calendar__monthYear {
    background: #1f1f1f;
}

.calendar-dark .Calendar__yearSelector {
    background: #1c2023;
}

.calendar-dark .Calendar__yearSelectorWrapper::after {
    background-image: linear-gradient(to bottom, #1f1f1f, #1f1f1f 10%, rgba(245, 245, 245, 0));
}

.calendar-dark .Calendar__yearSelectorWrapper::before {
    background-image: linear-gradient(to top, #1f1f1f, #1f1f1f 10%, rgba(245, 245, 245, 0));
}

.calendar-dark .Calendar__monthSelectorItemText:focus {
    outline: 1px dashed rgba(255, 255, 255, 0.4);
}

.calendar-dark .Calendar__yearSelectorText {
    color: #ffffff;
}

.calendar-dark .Calendar__yearSelectorItem:not(.-active) .Calendar__yearSelectorText:not(:disabled):hover {
    background: #ffffff14;
}

.calendar-dark .Calendar__yearSelectorItem.-active .Calendar__yearSelectorText {
    color: #ffffff;
}

.calendar-dark .Calendar__monthSelector {
    background: #1c2023 linear-gradient(to bottom, #1f1f1f, #1f1f1f 10%, rgba(0, 0, 0, 0));
}

.calendar-dark .Calendar__monthSelectorItemText {
    color: #ffffff;
}

.calendar-dark .Calendar__monthSelectorItem:not(.-active) .Calendar__monthSelectorItemText:not(:disabled):hover {
    background: #ffffff14;
}

.calendar-dark .Calendar__monthSelectorItem.-active .Calendar__monthSelectorItemText {
    color: #ffffff;
}

.calendar-dark .Calendar__day {
    color: #ffffff;
}

.calendar-dark .Calendar__day:focus {
    outline: 1px dashed rgba(255, 255, 255, 0.4);
}

.calendar-dark .Calendar__day:not(.-blank):not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween):not(.-selected):hover {
    background: #ffffff14;
}

.calendar-dark .Calendar__day.-selectedEnd {
    color: #ffffff;
}

.calendar-dark .Calendar__day.-today:not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween) {
    color: #ffffff;
}

.calendar-dark .Calendar__day.-today:not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween)::after {
    background: #ffffff;
}

.calendar-dark .Calendar__yearText {
    color: #ffffff;
}

.calendar-dark .Calendar__yearText:hover {
    background: #1d1d1d;
}

.calendar-dark .Calendar__monthText {
    color: #ffffff;
}

.calendar-dark .Calendar__monthText:hover {
    background: #1d1d1d;
}

.calendar-dark .Calendar__monthArrow {
    background-image: url("../../assets/icons/white_arrow.svg");
}

.options-wrapper {
    margin: 0 32px 40px;
}

.options-button {
    padding-inline: 10px;
}

.icon-button {
    height: 1.7em;
    width: 1.7em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.today-button {
    background-image: url("../../assets/icons/today.svg");
}

.default-day-button {
    background-image: url("../../assets/icons/default.svg");
}

.calendar-dark .today-button {
    background-image: url("../../assets/icons/white_today.svg");
}

.calendar-dark .default-day-button {
    background-image: url("../../assets/icons/white_default.svg");
}

.calendar-icon {
    height: 1.2em;
    width: 1.2em;
    margin-top: 2px;
    background-image: url("../../assets/icons/calendar.svg");
}

.calendar-dark .calendar-icon {
    background-image: url("../../assets/icons/white_calendar.svg");
}

.calendar-disabled .Calendar__day {
    pointer-events: none;
    color: #5f6367;
}
